@import "tailwindcss";

:root {
  --background: #0C0D10;
  --surface: #15171D;
  --primary: #78F800;

  --text: #FFFFFF;
  --muted-text: #9CA3AF;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);

  --color-text: var(--text);
  --color-muted-text: var(--muted-text);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-oswald);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans), sans-serif;
}
